.App {
 text-align: center;   
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: rgb(75, 121, 136);
    color: white;
}

.nav-links{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.card {
    float: left;
    margin: 30px 0px 15px 15px;
}

.card img {
	margin: 5px;
	max-width: 265px;
	max-height: 265px;
	border-radius: 15px;
}

.card span {
	color: white;
}

.cart-items img {
	margin: 5px;
	max-width: 265px;
	max-height: 265px;
	border-radius: 15px;
}